html {
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

body {
  background-color: #0a0e0d;
  width: 100%;
  color: #ffffff;
  font-family: "Manrope", sans-serif;
  overflow-x: hidden;
}

html:has(body.has-menu) {
  overflow: hidden;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  /* border: 1px solid red !important; */
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-weight: 600;
  font-size: 48px;
}

h2 {
  font-weight: 600;
  font-size: 38px;
  line-height: 100%;
  letter-spacing: -2%;
  text-align: center;
}

h3 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -2%;
}

h4 {
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: -2%;
}

p {
  font-size: 16px;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  font-family: "Manrope", sans-serif;
}

li {
  list-style: none;
}

.btn {
  padding: 23px 28px;
  background-color: #67edb7;
  box-shadow: 0 6px 15.6px 0 #67edb740;
  color: #383838;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  border-radius: 8px;
  transition: background-color 0.5s;
}

.btn:hover {
  background-color: #84d6b5;
}

.section {
  padding: 72px 0;
  display: flex;
  flex-direction: column;
  gap: 42px;
  align-items: center;
}

.container {
  max-width: 1376px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.list-item {
  position: relative;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #d3d3d3;
}

.list-item:not(:last-child) {
  margin-bottom: 8px;
}

.list-item::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #d3d3d3;
}

.badge {
  width: 40px;
  height: 40px;
  border-radius: 12px;
  background-color: #67edb7;
  box-shadow: 0 6px 15.6px 0 #67edb740;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header-top {
  margin: 24px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
  cursor: pointer;
}

.logo__box {
  width: 28px;
  height: 28px;
  border-radius: 4px;
  background-color: #68edb7;
}

.logo__text {
  max-width: 120px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -4%;
  text-transform: uppercase;
}

.header {
  position: relative;
}

.header-top__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-top__link {
  display: flex;
  align-items: center;
  gap: 16px;
  border: 1px solid #fff;
  padding: 10px 18px;
  border-radius: 8px;
  transition: background-color 0.5s;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  height: 40px;
}

.header-top__link:hover {
  background-color: #515151;
}

.header-top__btn {
  padding: 0 20px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #67edb7;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  height: 40px;
  transition: background-color 0.5s;
}

.header-top__btn:hover {
  background-color: #9effd8;
}

.header__nav {
  padding: 24px 32px;
  margin-bottom: 40px;
  background-color: #161918;
  border-radius: 12px;
}

.nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link {
  font-size: 14px;
  font-weight: 600;
  line-height: 100%;
  letter-spacing: 3%;
  text-transform: uppercase;
  transition: color 0.5s;
}

.nav__link:hover {
  color: #cec2c2;
}

.nav__divider {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 20px;
  background-color: rgba(255, 255, 255, 0.45);
  pointer-events: none;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: end;
  position: relative;
}

.hero__image {
  width: 100%;
  max-width: 720px;
  aspect-ratio: 720/517;
  height: auto;
  position: relative;
  z-index: 2;
}

.hero__image>img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: relative;
  z-index: 3;
}

.hero__image .circle {
  position: absolute;
  width: 50px;
  height: 206px;
  border-radius: 50%;
  background-color: #67EDB7;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  filter: blur(120px);
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: 48px;
  max-width: 670px;
  padding-bottom: 28px;
}

.hero__span {
  color: #4CD4B0;
}

.hero__text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -3%;
  max-width: 576px;
}

.hero__actions,
.cta__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero__btn,
.cta__btn,
.mobile__btn {
  padding: 23px 28px;
  border-radius: 8px;
  background-color: #67edb7;
  color: #383838;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  transition: background-color 0.5s;
}

.hero__btn:hover,
.cta__btn:hover {
  background-color: #9effd8;
}

.hero__link,
.cta__link,
.mobile__link {
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding: 0 18px;
  color: #212127;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #1a1a1a;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  transition: background-color 0.5s;
}

.hero__link:hover,
.cta__link:hover {
  background-color: #e5e2e2;
}

.benefits {
  margin-top: 120px;
  margin-bottom: 48px;
}

.benefits__list {
  padding: 24px 26px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 48px;
  background-color: #161918;
  border-radius: 22px;
}

.benefits__item {
  flex-basis: 295px;
}

.benefits__icon {
  margin-bottom: 24px;
}

.benefits__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: -4%;
  margin-bottom: 16px;
}

.benefits__text {
  font-size: 14px;
  font-weight: 500;
  line-height: 135%;
  letter-spacing: -3%;
  color: #798386;
}

.comparison {
  background-image: url(../img/bg-2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}

.comparison__title {
  text-align: center;
}

.comparison__title>span {
  color: #6ab9a4;
}

.comparison__text {
  margin: 42px auto;
  max-width: 1000px;
  text-align: center;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -3%;
  color: #9ea3a4;
}

.comparison__cards {
  max-width: 954px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
}

.comparison__card {
  flex: 1 1 0;
  min-width: 0;
  padding: 32px 26px;
  display: flex;
  flex-direction: column;
  gap: 34px;
  border-radius: 22px;
  position: relative;
  overflow: hidden;
  background-color: #0A0E0D;
}

.comparison__card::after {
  content: "";
  inset: 0;
  position: absolute;
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(103, 237, 183, 1) 100%);
  opacity: 0.22;
  z-index: 0;
}

.comparison__card_active {
  border: 1px solid #67edb7;
  box-shadow: 0 6px 15px 0 #67edb740;
}

.comparison__card_active::after {
  opacity: 0.55;
}

.comparison__card>* {
  position: relative;
  z-index: 1;
}

.comparison__box {
  width: 40px;
  height: 40px;
  background-color: #2B2B2B;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.comparison__card_active .comparison__box {
  background-color: #67edb7;
  box-shadow: 0 6px 15px 0 #67edb740;
}

.comparison__card-tite {
  line-height: 100%;
  letter-spacing: -2%;
}

.comparison__btn {
  width: 100%;
  padding: 23px 0;
  background-color: #67edb7;
  box-shadow: 0 6px 15px 0 #67edb740;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #383838;
  transition: background-color 0.5s;
}

.comparison__btn:hover {
  background-color: #9effd8;
}

.cases__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 8px;
  width: 100%;
}

.cases__card {
  position: relative;
  min-width: 0;
  overflow: hidden;
  border-radius: 22px;
  border: 1px solid #f2f2f226;
  height: 428px;
}

.cases__card::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #000000;
  opacity: 20%;
  z-index: 0;
  transition: all .5s;
}

.cases__card:hover:after {
  opacity: 77%;
}

.cases__card-img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cases__wrapper {
  position: absolute;
  left: 26px;
  right: 26px;
  bottom: 26px;
  z-index: 1;
}

.cases__head {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.cases__hidden {
  display: grid;
  grid-template-rows: 0fr;
  opacity: 0;
  transform: translateY(100%);
  transition:
    grid-template-rows .5s,
    opacity .3s,
    transform .5s,
    margin-top .5s;
}

.cases__hidden-inner {
  min-height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 28px;
}

.cases__card:hover .cases__hidden {
  grid-template-rows: 1fr;
  opacity: 1;
  transform: translateY(0);
  margin-top: 28px;
}

.cases__btn {
  padding: 0 20px;
  height: 40px;
  font-size: 14px;
  font-weight: 700;
}

.cases__icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #67edb7;
  box-shadow: 0 6px 15.6px 0 #67edb740;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cases__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -2%;
}

.conclusion__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas:
    "image image situation risks"
    "image image scenario actions"
    ".     .     note     note";
  width: 100%;
}

.conclusion__img {
  grid-area: image;
  display: flex;
  align-items: center;
  justify-content: center;
}

.conclusion__img>img {
  width: 504px;
  height: auto;
  object-fit: contain;
  aspect-ratio: 504 / 576;
}

.conclusion__card {
  padding: 32px 26px;
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.conclusion__card-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #9ea3a4;
}

.conclusion__card--situation {
  grid-area: situation;
}

.conclusion__card--risks {
  grid-area: risks;
}

.conclusion__card--scenario {
  grid-area: scenario;
}

.conclusion__card--actions {
  grid-area: actions;
}

.conclusion__note {
  grid-area: note;
  padding: 16px 26px;
  display: flex;
  align-items: center;
  gap: 30px;
}

.conclusion__note-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 110%;
  letter-spacing: -3%;
  color: #68edb7;
}

.steps__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  gap: 8px 16px;
}

.setps__item {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.steps__item_last .steps__item-top:after {
  display: none;
}

.steps__item-top {
  position: relative;
}

.steps__item-top:after {
  content: "";
  width: calc(100% - (40px + 16px));
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  height: 2px;
  background-color: #67edb7;
  position: absolute;
  box-shadow: 0 6px 15.6px 0 #67edb740;
}

.steps__item-step {
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: -4%;
  color: #67edb7;
}

.steps__item-content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.steps__item-title {
  font-size: 22px;
  line-height: 100%;
  letter-spacing: -2%;
}

.steps__item-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #9ea3a4;
}

.confidentiality {
  align-items: start;
}

.confidentiality__title {
  text-align: start;
}

.confidentiality__description {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -3%;
  color: #9ea3a4;
  max-width: 880px;
}

.confidentiality__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
  gap: 8px;
}

.confidentiality__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px 26px 41px;
  border: 1px solid #f2f2f226;
  border-radius: 22px;
}

.confidentiality__card>img {
  width: 135px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: contain;
}

.confidentiality__card-title {
  margin-bottom: 28px;
}

.confidentiality__card-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #d4d4d4;
}

.pricing {
  align-items: start;
  gap: 8px;
}

.pricing__title {
  margin-bottom: calc(42px - 8px);
  max-width: 520px;
  text-align: start;
}

.pricing__service {
  width: 100%;
  padding: 26px 27px 26px 24px;
  border-radius: 22px;
  border: 1px solid #d3d3d31c;
  background:
    linear-gradient(to bottom,
      rgba(0, 0, 0, 0) 45%,
      rgba(103, 237, 183, 0.34) 100%),
    #050b09;
  background-clip: padding-box;
}

.service__top {
  padding-bottom: 32px;
  border-bottom: 1px solid #ffffff54;
}

.service__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "badge list-left list-right"
    "badge list-left list-right"
    "title list-left list-right";
  gap: 8px;
  width: 100%;
}

.service__icon {
  grid-area: badge;
}

.service__title {
  grid-area: title;
}

.service__list_left {
  grid-area: list-left;
}

.service__list-right {
  grid-area: list-right;
}

.service__all-list,
.service__main {
  display: contents;
}

.service__bottom {
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service__price {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.service__amount {
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -2%;
  color: #67edb7;
}

.service__term {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.service__btn {
  padding-right: 38px;
  padding-left: 38px;
}

.pricing__preview {
  border: 1px solid #494844;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 26px;
  background-color: #161918;
  border-radius: 22px;
}

.preview__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "document text text";
  gap: 10px;
}

.preview__img {
  grid-area: document;
  position: absolute;
  top: 29px;
  left: 45px;
  width: 341px;
  height: auto;
  transform: rotate(4deg);
}

.preview__img>img {
  position: relative;
  z-index: 4;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.preview__img .circle {
  position: absolute;
  width: 271px;
  height: 105px;
  background-color: #67EDB7;
  top: 70px;
  left: 61px;
  z-index: 2;
  filter: blur(80px);
}

.preview__wrapper {
  grid-area: text;
}

.preview__content {
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.preview__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #9ea3a4;
}

.preview__button {
  padding: 10px 20px;
  border: 1px solid #67edb7;
  box-shadow: 0 6px 15.6px 0 #67edb740;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  background-color: transparent;
  color: #67edb7;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
}

.results__description {
  max-width: 650px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -3%;
  color: #9ea3a4;
}

.slider {
  width: 100%;
}

.results__slider {
  width: 100vw;
  margin-inline: calc(50% - 50vw);
  overflow: hidden;
}

.results__slide {
  border: 1px solid #494844;
  border-radius: 22px;
  padding: 26px;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 32px;
  height: 675px;
  overflow: hidden;
  position: relative;
  background: #050b09;
}

.results__slide::after {
  content: "";
  position: absolute;
  inset: auto 0 0;
  height: 100%;
  z-index: 1;
  pointer-events: none;
  background: linear-gradient(to bottom,
      rgba(5, 11, 9, 0) 0%,
      #113e2d20 70%,
      #113e2dad 78%,
      #113e2dde 82%,
      #113e2d 86%);
}

.results__paragraph {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.results__paragraph p {
  font-size: 14px;
  line-height: 135%;
  letter-spacing: -3%;
  color: #9ea3a4;
}

.results__slide-img {
  position: relative;
  width: 110px;
  aspect-ratio: 1 / 1;
  border: 1px solid #f2f2f238;
  border-radius: 8px;
  overflow: hidden;
  flex-shrink: 0;
}

.results__slide-img>img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.results__slide-img::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #00000054;
  z-index: 2;
}

.results__slide-btn {
  position: absolute;
  left: 26px;
  bottom: 26px;
  z-index: 2;
  padding: 15px 20px;
  background-color: transparent;
  border-radius: 8px;
  border: 1px solid #67edb7;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  color: #67edb7;
  transition: opacity 0.5s;
}

.results__slide-btn:hover {
  opacity: 0.7;
}

.slider-nav {
  display: flex;
  justify-content: center;
  gap: 8px;
  width: 100%;
}

.slider-nav__btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #67edb7;
  box-shadow: 0 6px 15.6px 0 #67edb740;
  color: #0a0e0d;
  font-size: 22px;
  line-height: 1;
  transition:
    background-color 0.5s,
    opacity 0.5s;
}

.slider-nav__btn:hover {
  background-color: #84d6b5;
}

.slider-nav__btn.swiper-button-disabled {
  opacity: 0.45;
  cursor: default;
}

.slider-nav__btn--prev,
.slider-nav__btn--next {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.slider-nav__btn--prev>img {
  transform: rotate(180deg);
}

.faq__list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.faq__item {
  background-color: #161918;
  padding: 12px;
  border-radius: 22px;
}

.faq__question {
  display: flex;
  align-items: center;
  gap: 22px;
  padding: 8px;
  margin-bottom: 1px;
  cursor: pointer;
}

.faq__item-title {
  font-size: 22px;
  font-weight: 400;
  line-height: 114%;
}

.faq__answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 13px;

  font-weight: 400;
  font-size: 16px;
  line-height: 25px;

  transition:
    max-height 0.4s ease,
    padding 0.4s ease;
}

.faq__item_active .faq__answer {
  max-height: 500px;
  padding: 12px 13px;
}

.cta {
  background-image: url(../img/bg-2.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.cta__inner {
  padding-bottom: 92px;
  align-items: start;
}

.cta__title,
.cta__description {
  max-width: 1000px;
  text-align: start;
}

.cta__description {
  font-weight: 500;
  font-size: 18px;
  line-height: 150%;
  letter-spacing: -3%;
}

.footer {
  padding: 33px 0 20px;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 38px;
}

.footer__faq {
  max-width: 640px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 17px;
}

.footer__faq>li {
  cursor: pointer;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
}

.footer__about {
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__politics {
  display: flex;
  gap: 28px;
}

.footer__politics-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  color: #9EA3A4;
}

.footer__dev {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
}

.footer__info,
.mobile__info {
  padding: 12px 18px;
  background-color: #161918;
  border-radius: 12px;

  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: #838383;
}

.footer__dev_mobile {
  display: none;
}

.footer__politics-other {
  display: contents;
}

.mobile-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #67EDB7;
  border-radius: 8px;
}

.mobile {
  background-color: #0A0E0D;
  z-index: 20;
  position: fixed;
  top: 88px;
  left: 0;
  right: 0;
  height: calc(100dvh - 88px);
  display: none;
}

.mobile_open {
  display: block;
}

.mobile__wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding: 32px 16px;
}

.mobile__title {
  font-size: 28px;
  font-weight: 600;
  align-self: flex-start;
}

.mobile__list {
  flex-grow: 1;
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.mobile__list-item {
  font-weight: 500;
  font-size: 16px;
}

.mobile__actions {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mobile__btn,
.mobile__link {
  width: 100%;
}

.mobile__footer {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.mobile__copyright,
.mobile__legal-link {
  font-weight: 400;
  font-size: 14px;
  color: #9EA3A4;
}

.mobile__legal {
  display: flex;
  align-items: center;
  gap: 28px;
}

.mobile__developer {
  font-weight: 400;
  font-size: 14px;
}

/* media query */

@media (max-width: 1370px) {
  .hero__image {
    position: absolute;
    right: -140px;
  }
}

@media (max-width: 1220px) {
  .confidentiality__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .hero__image {
    right: -280px;
  }

  .preview__img {
    width: 295px;
  }

  .preview__img .circle {
    top: 29px;
    left: -21px;
  }
}

@media (max-width: 1080px) {
  .header__nav {
    display: none;
  }

  .mobile-menu {
    display: flex;
  }

  .benefits__list {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .hero__image {
    right: -327px;
    top: 0;
  }
}

@media (max-width: 1024px) {
  .hero {
    flex-direction: column-reverse;
    align-items: center;
  }

  .hero__image {
    position: relative;
    top: 0;
    left: 0;
  }

  .conclusion__card {
    gap: 22px;
  }

  .conclusion__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
    grid-template-areas:
      "image image"
      "situation risks"
      "scenario actions"
      "note note";
  }

  .conclusion__img>img {
    width: 360px;
  }
  
  .cases__head,
  .cases__hidden-inner {
    gap: 20px
  }

  .cases__hidden {
    margin-top: 20px;
  }

  .service__grid {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .service__main,
  .service__all-list {
    display: block;
  }

  .service__all-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .service__main {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .preview__img {
    position: relative;
    width: 120px;
    top: -4px;
  }

  .footer__faq {
    max-width: 500px;
  }
}

@media (max-width: 800px) {
  .cases__list {
    grid-template-columns: 1fr;
  }

  .cases__card {
    height: auto;
    max-height: 320px;
  }

  .comparison__cards {
    flex-direction: column-reverse;
  }

  .comparison__card {
    flex: 0 1 auto;
    width: 100%;
  }

  .footer-top {
    flex-direction: column;
    align-items: baseline;
    gap: 32px;
    margin-bottom: calc(32px - 24px);
  }

  .footer__faq {
    display: flex;
    flex-direction: column;
    gap: 22px;
  }

  .footer__dev {
    display: none;
  }

  .footer__dev_mobile {
    display: block;
    margin-top: 32px;
  }

  .footer__politics {
    flex-direction: column;
    gap: 12px;
  }

  .footer__politics-other {
    display: flex;
    gap: 28px;
  }
}

@media (max-width: 675px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 32px;
  }

  h3 {
    font-size: 20px;
  }

  .section {
    gap: 32px;
    padding: 40px 0;
  }

  .header-top__link,
  .header-top__btn {
    display: none;
  }

  .hero__content {
    gap: 32px;
  }

  .benefits {
    margin-top: 58px;
  }

  .benefits__list {
    gap: 16px 8px;
    padding: 22px;
  }

  .benefits__title {
    font-size: 16px
  }

  .cases__text {
    font-size: 20px;
  }

   .cases__list-item {
      font-size: 14px;
   } 

  .conclusion__img>img {
    width: 243px;
  }

  .conclusion__img {
    margin-bottom: 32px;
  }

  .conclusion__card {
    padding: 0;
    padding-top: 22px;
  }

  .conclusion__card-text {
    font-size: 14px;
  }

  .conclusion__note {
    padding: 26px 0;
  }

  .comparison__text {
    margin: 32px auto;
    font-size: 14px;
  }

  .comparison {
    padding: 50px 0;
  }

  .steps__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  .steps__item-title {
    font-size: 20px;
  }

  .steps__item-text {
    font-size: 14px;
  }

  .confidentiality__list {
    grid-template-columns: 1fr;
  }

  .confidentiality__description {
    font-size: 14px;
  }

  .confidentiality__card-title {
    margin-bottom: 22px;
  }

  .confidentiality__card {
    padding: 16px 16px 32px;
  }

  .service__all-list {
    padding: 21px 0;
    border-top: 1px solid #272727;
    border-bottom: 1px solid #272727;
  }

  .service__top {
    padding: 0;
    border: none;
  }

  .service__bottom {
    flex-direction: column;
    align-items: start;
    gap: 32px;
  }

  .service__btn {
    width: 100%;
  }

  .preview__img {
    left: 1px;
  }

  .preview__img .circle {
    top: 28px;
    left: -32px;
  }

  .pricing__title {
    margin-bottom: 0
  }

  .results__description {
    font-size: 14px;
  }

  .results__slide {
    padding: 22px;
  }

  .cta__description {
    font-size: 16px;
  }

  .cta__actions,
  .hero__actions {
    flex-direction: column;
    width: 100%;
    align-items: stretch;
  }
}

@media (max-width: 500px) {

  /* .cases__card {
    height: auto;
    max-height: 180px;
  } */

  .preview__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "document" "text";
    gap: 10px;
  }
}

@media (max-width: 400px) {
  .conclusion__grid {
    grid-template-columns: 1fr;
    gap: 8px;
    grid-template-areas:
      "image"
      "situation"
      "risks"
      "scenario"
      "actions"
      "note";
  }

  .steps__grid {
    grid-template-columns: 1fr;
  }

  .benefits__list {
    grid-template-columns: 1fr;
  }

}
